/.Makefile.coq.d
/Makefile.coq
*.conf
*.vos
/_opam/
*.aux
*.vo
*.vok
*.glob
/report/.auctex-auto/
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.log
*.out
/report/project_report.pdf
/report/figures/.auctex-auto/
/.lia.cache
/theories/.lia.cache
/.dir-locals.el
